<!DOCTYPE html>
<html>
    <head>
        <title>{{ subject }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap" rel="stylesheet">

        <style>
            html {
                background-color: #0F181C;
            }

            #main {
                max-width: 600px;
                margin: 32px 100px;
            }

            #body {
                background-color: #152126;
                padding: 16px;
            }

            h1, h2, h3, h4, h5, h6 {
                color: #E1AA16;
                font-family: 'Overpass', sans-serif;
            }

            p {
                color: #C8C8C8;
                font-family: 'Overpass', sans-serif;
            }

            a.button {
                background: #E1AA16;
                color: #C8C8C8;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <table id="main">
            <tr>
                <td>
                    <h2>Strike Host</h2>
                </td>
            </tr>
            <tr>
                <td id="body">